<section class="highlight">
  <div class="highlight-wrapper">
    <div class="column-group gutters">
      <div class="xlarge-60 large-60 medium-50 small-100 tiny-100">
        <div class="image">
          <!-- @characters.find(1).index_image -->
          <%= @characters.find(1).character_name %>
          <br>
          <%= @characters.find(1).character_bio %>
          <br>
          <%= image_tag(@characters.find(1).character_image_url) %>
          <br>
          <%= link_to("Wiki", @characters.find(1).character_wiki_url) %>
          <br>
          <%= MarvelApi.new(@characters.find(1)).get_headshot_image %>
          <br>
          <%= (MarvelApi.new(@characters.find(4)).get_alt_character_image) %>
          <br>
          <br>
          <%= image_tag("image_not_available.jpg") %>
        </div>
      </div>
    </div>
  </div>
</section>
