  <div class="column-group">

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(1).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(1).character_name, character_path(1)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(17).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(17).character_name, character_path(17)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(3).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(3).character_name, character_path(3)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(5).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(5).character_name, character_path(5)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(22).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(22).character_name, character_path(22)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(48).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(48).character_name, character_path(48)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(10).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(10).character_name, character_path(10)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(2).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(2).character_name, character_path(2)) %>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="all-33">
      <div class="image">
        <figure class="ink-image index-image-margin">
          <%= image_tag(@characters.find(20).character_image_url) %>
          <figcaption class="dark index-captions">
            <%= link_to(@characters.find(20).character_name, character_path(20)) %>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>

</div>
