<section class="pub hide-all show-large show-xlarge xlarge-push-right large-push-right">
  <!-- <div class="column-group gutters">
    <a href="#" class="all-100 mrec">
      <img src="../assets/js/holder.js/300x250/ink/auto/text: MREC PUB" />
    </a>
  </div> -->

  <!-- right column info -->
  <dl>
    <dt>Real Name</dt>
    <dd><%= @character_api.get_identity %></dd>
    <dt>Group Affiliation</dt>
    <dd>
      <%= raw(HTML_Truncator.truncate(@character_api.get_group, 40, ellipsis: (link_to "... read more", @character_api.get_wiki))) %>
    </dd>
    <dt>Powers</dt>
    <dd>
      <%= raw(HTML_Truncator.truncate(@character_api.get_powers, 40, ellipsis: (link_to "... read more", @character_api.get_wiki))) %>
    </dd>
    <dt>Abilities</dt>
    <dd>
      <%= raw(HTML_Truncator.truncate(@character_api.get_abilities, 40, ellipsis: (link_to "... read more", @character_api.get_wiki))) %>
    </dd>
    <dt>First Appearance</dt>
    <dd><%= @character_api.get_first_issue %></dd>
  </dl>

<%= @character_api.get_character_id %>
<i class="fa fa-github-alt fa-2x"></i>

</section>

<section class="highlight">
  <div class="highlight-wrapper">
    <div class="column-group gutters">
      <div class="xlarge-60 large-60 medium-50 small-100 tiny-100">
        <div class="image">
          <%= image_tag(@character_api.character_image, :size => "600x430") %>
        </div>
      </div>
      <div class="xlarge-40 large-40 medium-50 small-100 tiny-100">
        <h1><%= @character.character_name %></h1>

          <p>
            <% unless @character_api.bio.length < 1 %>
              <%= @character_api.bio %>
              <br>
            <% else %>
            <%= raw(HTML_Truncator.truncate(@character_api.get_alt_bio, 80, ellipsis: (link_to "... read more", @character_api.get_wiki))) %>
              <br>
            <% end %>
          </p>
      </div>
    </div>

    <!-- top two comics -->

    <div class="column-group gutters">
      <% @character_api.get_newest.each do |story| %>
        <% unless MarvelApi.portrait(story).include?("image_not_available") %>
          <div class="all-50 small-100 tiny-100">

            <% unless MarvelApi.landscape(story) == "not found" %>
              <a href="<%= MarvelApi.portrait(story) %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>
            <% else %>
              <a href="<%= @character_api.character_image %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>
            <% end %>

              <figure class="ink-image">
              <% unless MarvelApi.landscape(story) == "not found" %>
                <%= image_tag(MarvelApi.landscape(story)) %>
              <% else %>
                <%= image_tag((@character_api.character_image).gsub(".jpg", "/landscape_incredible.jpg")) %>
              <% end %>
                <figcaption class="dark small-caption">
                  <%= MarvelApi.title(story) %>
                </figcaption>
              </figure>
            </a>
          </div>
        <% else %>
          <div class="all-50 small-100 tiny-100">
            <a href="<%= (@character_api.alt_series_image(MarvelApi.get_series_id(story)) + '/portrait_uncanny.jpg') %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>

              <figure class="ink-image">
                <%= image_tag(@character_api.alt_series_image(MarvelApi.get_series_id(story)) + "/landscape_incredible.jpg") %>
                <figcaption class="dark small-caption">
                  <%= MarvelApi.title(story) %>
                </figcaption>
              </figure>

            </a>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- bottom three comics -->

    <div class="column-group gutters">
      <% @character_api.get_series.each do |story| %>
        <% unless MarvelApi.portrait(story).include?("image_not_available") %>
          <div class="all-33 small-100 tiny-100">

            <% unless MarvelApi.box_xl(story) == "not found" %>
              <a href="<%= MarvelApi.portrait(story) %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>
            <% else %>
              <a href="<%= @character_api.character_image %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>
            <% end %>

              <figure class="ink-image">
                <% unless MarvelApi.box_xl(story) == "not found" %>
                  <%= image_tag(MarvelApi.box_xl(story)) %>
                <% else %>
                  <%= image_tag(@character_api.character_image) %>
                <% end %>
                <figcaption class="dark small-caption">
                  <%= MarvelApi.title(story) %>
                </figcaption>
              </figure>
            </a>
          </div>

        <% else %>
          <div class="all-33 small-100 tiny-100">
            <a href="<%= (@character_api.alt_image(MarvelApi.get_comic_id(story)) + "/portrait_uncanny.jpg") %>" data-lightbox="series" data-title='<%= link_to MarvelApi.title(story), MarvelApi.get_url(story) %>'>
              <figure class="ink-image">
                <%= image_tag(@character_api.alt_image(MarvelApi.get_comic_id(story)) + "/standard_xlarge.jpg") %>
                <figcaption class="dark small-caption">
                  <%= MarvelApi.title(story) %>
                </figcaption>
              </figure>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</section>
