<!DOCTYPE html>
<html>
<head>
  <title>TestSite3</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ink-grid">
    <header class="vertical-space">
      <h1>The Hero Vault<small>... and villains too!</small></h1>
      <nav class="ink-navigation">
        <ul class="menu horizontal black">
          <li class="active"><a href="#">item</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">item</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= render 'footer' %>
  </div>
</body>
</html>
