<!DOCTYPE html>
<html>
<head>
  <title>The Hero Vault</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= google_webfonts_link_tag open_sans_condensed: [300, 700],
                               open_sans: [300, 400],
                               marvel: [400, 700] %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <!-- Heroku wants this next line for some reason. In development, it will create a phantom lightbox at the bottom of the screen. In production, this line is necessary for the lightbox to even work. Weird!-->
  <%= javascript_include_tag 'lightbox.min' %>
  <%= javascript_include_tag 'endless_scroll' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ink-grid">
    <header class="vertical-space">
      <div class="site-title">
        <h1><%= link_to("The Hero Vault", root_path, class: "hero-vault") %><small>A Marvel Web App by Josh Fields</small></h1>
      </div>
      <nav class="ink-navigation">
        <ul class="menu horizontal black">
          <div class="column-group horizontal-gutters">

            <div class="all-10 nav-links">
              <li>
                <a href="#">A-C</a>
                <ul class="submenu">
                  <% Character.sort_abc.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">D-F</a>
                <ul class="submenu">
                  <% Character.sort_def.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">G-I</a>
                <ul class="submenu">
                  <% Character.sort_ghi.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">J-L</a>
                <ul class="submenu">
                  <% Character.sort_jkl.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">M-O</a>
                <ul class="submenu">
                  <% Character.sort_mno.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">P-R</a>
                <ul class="submenu">
                  <% Character.sort_pqr.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">S-U</a>
                <ul class="submenu">
                  <% Character.sort_stu.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">V-X</a>
                <ul class="submenu">
                  <% Character.sort_vwx.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">Y-Z</a>
                <ul class="submenu">
                  <% Character.sort_yz.each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="https://github.com/JoshuaFields/marvel_rails_app">
                  <i class="fa fa-github-square fa-lg"></i>
                </a>
              </li>
            </div>

        </div>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= render 'footer' %>
  </div>
</body>
</html>
