<!DOCTYPE html>
<html>
<head>
  <title>The Hero Vault</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= google_webfonts_link_tag open_sans_condensed: [300, 700],
                               open_sans: [300, 400] %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ink-grid">
    <header class="vertical-space">
      <div class="site-title">
        <h1>The Hero Vault<small>A Marvel Web App by Josh Fields</small></h1>
      </div>
      <nav class="ink-navigation">
        <ul class="menu horizontal black">
          <div class="column-group horizontal-gutters">

            <div class="all-10 nav-links">
              <li>
                <a href="#">A-C</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">D-F</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">G-I</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">J-L</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">M-O</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">P-R</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">S-U</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">V-X</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

            <div class="all-10 nav-links">
              <li>
                <a href="#">Y-Z</a>
                <ul class="submenu">
                  <% Character.all.order(:character_name).each do |hero| %>
                    <li><a href="/characters/<%= hero.id %>"><%= hero.character_name %></a></li>
                  <% end %>
                </ul>
              </li>
            </div>

        </div>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= render 'footer' %>
  </div>
</body>
</html>
